- name: Install waybar
  kewlfft.aur.aur: 
    name: "waybar-git"
    state: present
  become: yes
  become_user: aur_builder

- name: Install waybar files 
  ansible.builtin.include_role: 
    name: "fileinstaller"

- name: Setup systemd wants for compositor
  ansible.builtin.file:
    src: "{{[systemd_user_dir, 'waybar@.service'] | path_join }}"
    dest: "{{[systemd_user_dir, compositor_wants, waybar_service_name]  | path_join }}"
    state: link
  when: compositor_wants is defined
