- name: Install Sway-Scroll
  kewlfft.aur.aur:
    name: "sway-scroll-git"
    state: present
  become: yes
  become_user: aur_builder

- name: Install sway-contrib (grimshot) 
  ansible.builtin.package: 
    name: "sway-contrib"
    state: present
  become: yes

- name: Install ScrollWM files
  ansible.builtin.include_role: 
    name: "fileinstaller"

- name: Create Launcher config snippet 
  ansible.builtin.lineinfile:
    path: "{{ [dotfile_config_base, 'scroll', 'vars.d', 'launcher.conf'] | path_join }}"
    line: "set $menu {{ preferred_launcher }}"
    create: true
  when: preferred_launcher is defined 

- name: Create Terminal config snippet 
  ansible.builtin.lineinfile:
    path: "{{ [dotfile_config_base, 'scroll', 'vars.d', 'terminal.conf'] | path_join }}"
    line: "set $menu {{ preferred_terminal }}"
    create: true
  when: preferred_terminal is defined

- name: Wayland compositor setup
  ansible.builtin.include_role:
    name: "wayland_compositor"
  vars: 
    compositor_name: "scroll"


#    - name: Create UWSM activation config snippet 
#      ansible.builtin.lineinfile:
#        path: "{{ [dotfile_config_base, 'scroll', 'config.d', '99-uwsm_activate.conf'] | path_join }}"
#        line: "exec uwsm finalize SWAYSOCK I3SOCK SCROLLSOCK"
#        create: true
#

