[Unit]
Description=Swaysome: AwesomeWM style workspaces for Sway
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/swaysome init 1

