@import '/home/zakk/.cache/wal/colors-wlogout.css';


* {
	background-image: none;
}
window {
	background-color: rgba(20,20,20,0.0); 
}
button {
  color: @foreground;
	background-color: @background;
	border-style: solid;
	border-width: 2px;
  border-color: @color8;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  opacity: 1.0;
}

button:focus, button:active {
	background-color: @color1; 
	outline-style: none;
  opacity: 1.0;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
#windows {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
