- name: Install docker 
  ansible.builtin.package:
    name: 
      - "docker"
      - "docker-compose"
    state: present
  become: yes

- name: Enable docker services
  ansible.builtin.systemd_service:
    name: docker
    enabled: true
    state: started
  become: yes

- name: Add user to docker group 
  become: yes
  ansible.builtin.user:
    name: "{{ ansible_user_id }}" 
    groups: docker 
    append: yes

