- name: Dotfiles and environment setup
  hosts: localhost
  connection: local
  gather_facts: true

  tasks:
  - name: Common variables
    ansible.builtin.include_vars: "vars/common.yml"

  - name: Host variables
    ansible.builtin.include_vars: "vars/{{ ansible_hostname }}.yml"

  - name: Combine role lists
    when: host_roles is defined and common_roles is defined
    set_fact: 
        host_roles: "{{ common_roles + host_roles }}"

  - name: Combine post run role lists
    when: host_post_roles is defined and common_post_roles is defined
    set_fact: 
        host_roles: "{{ common_post_roles + host_post_roles }}"



  - name: Ensure shell role
    when: host_roles is defined and preferred_shell is defined
    set_fact:
        host_roles: "{{ host_roles + [ preferred_shell ] }}"  

  - name: Ensure terminal role
    when: host_roles is defined and preferred_terminal is defined
    set_fact:
        host_roles: "{{ host_roles + [ preferred_terminal ] }}"  


  - name: Run dotfiles role first 
    include_role:
      name: dotfiles-bin

  - name: Install AUR helper on Arch
    when: ansible_distribution == "Archlinux" 
    include_role:
        name: "aur"

  - name: Include roles
    when: host_roles is defined
    include_role:
        name: "{{ role_item }}"
    loop: "{{ host_roles }}"
    loop_control:
        loop_var: role_item

  - name: Include post roles
    when: host_post_roles is defined
    include_role:
        name: "{{ role_item }}"
    loop: "{{ host_post_roles }}"
    loop_control:
        loop_var: role_item


