{
    "layer": "top",
    "position": "top",
    "height": 30,
    "reload_style_on_change": true,

    "modules-left": ["sway/workspaces", "mpris"],
    "modules-center": ["clock", "custom/weather", "cpu", "network"],
    "modules-right": ["pulseaudio#sink", "custom/notification", "tray" ],


		"mpris": {
			"format": "{status_icon}{artist} - {title}",
			"status-icons": {
				"paused": " "
			},
		},

    "cpu": {
      "interval": 5
    },

    "tray": {
        "icon-size": 21,
        "spacing": 10
      },


    "clock": {
        "format": "{:%a %d %b %H:%M}",
        "tooltip": true 
    },

    "network": {
        "interval": 5,
        "format": "{bandwidthUpBits} {bandwidthDownBits} {icon}",
        "format-alt": "{ipaddr}/{cidr} {icon}",
        "format-alt-click": "click-right",
        "format-icons": {
            "wifi": ["", "" ,""],
            "ethernet": [""],
            "disconnected": [""]
        },
        "on-click": "termite -e nmtui",
    "tooltip": false 
    },

    "pulseaudio#sink": {
        "format": "{icon} {volume}%",
        "format-muted": "",
        "format-icons": {
            "phone": [" ", " ", " ", " "],
            "default": ["", "", ""]
        },
        "scroll-step": 10,
        "on-click": "/home/zakk/bin/pulse_sink_toggle.py",
	"on-click-right": "pamixer -t",
	"on-click-middle": "pavucontrol",
        "tooltip": false
    },
    "custom/mediaplayer": {
   	"exec": "/home/zakk/.config/waybar/modules/mediaplayer.py",
	"format": "{}",
	"return-type": "json",
	"on-click": "playerctl play-pause",
	"on-scroll-up": "playerctl next",
	"on-scroll-down": "playerctl previous"
    },

    "custom/weather": {
        "format": "{}",
        "interval": 1800,
        "exec": "curl \"wttr.in?format=%c+%C+%t\"",
        "exec-if": "ping wttr.in -c1"
    },

    "idle_inhibitor": {
        "format": "{icon}",
        "format-icons": {
            "activated": "",
            "deactivated": ""
        },
        "tooltip": false
    },


  "custom/notification": {
    "tooltip": false,
    "format": "{icon}",
    "format-icons": {
      "notification": "<span foreground='red'><sup></sup></span>",
      "none": "",
      "dnd-notification": "<span foreground='red'><sup></sup></span>",
      "dnd-none": ""
    },
    "return-type": "json",
    "exec-if": "which swaync-client",
    "exec": "swaync-client -swb",
    "on-click": "swaync-client -t -sw",
    "on-click-right": "swaync-client -d -sw",
    "escape": true
  },

    "tray": {
        "icon-size": 18
    }
}
